@model UserInfo
@{
    ViewBag.Title = "Toplantı Formu";
}
<h1 class="h4 text-center">Toplantı Katılım Formu</h1>
@* form action default olarak tıklandığında get metodu olarak çalışır. Buton vasıtasıyla gerçekleşir. method=post olarak değiştirdik hiç yazılmasaydı get anlamına gelirdi. Post olarak butona tıklayınca çalışmadı. Çünkü mevcut MeetingControllerda post metodu yok. Forum action yazmazsak aynı metot kullanılır (default: action="/Meeting/Apply"). Biz farklı bir url ve metot yazarak başka metodu aktive etmeliyiz.*@
<form method="post" action="/Meeting/Apply">
    <div class="mb-3">
        @* label for kullanıyorduk.Şimdi model göndereceğiz asp-for yaptık.Modelde veri tipi yazdoğı için artık inpput type=text e de ihtiyacımız yok *@
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        @*input for="Name" class="form-control" type="text" name="Name" id="Name">*@
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
        <div class="mb-3">
        <label asp-for="WillAttend" class="form-label">Attendence</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="true">Evet Geliyorum</option>
            <option value="false">Hayır Gelmiyorum</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>